.component {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 32px;
  padding: 6px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  white-space: normal;
  background-color: white;
  line-height: 16px;
  margin: 8px 0;
}

.component:first-child {
  margin: 0;
}

.component:hover {
  color: rgb(9, 30, 66);
  background-color: rgb(244, 244, 244);
}

.maintext {
  text-align: left;
}

.icon {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  padding: 2px 4px 4px;
  cursor: pointer;
  background-color: rgba(233, 233, 233, 0.7);
}

.icon::before {
  content: '🗙';
}

.icon:hover {
  background-color: rgb(233, 233, 233);
}

.minimodal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 80px;
  width: 100%;
  z-index: 10;
  border-radius: 3px;
}
